*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
/* navigation bar */
.navbar{
    display: flex;
    justify-content: space-between;
    margin:20px;
    position: sticky;
    top: 0;
    z-index: 30;
}
.navbar-links{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.navbar-link a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}
.navbar-link a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navbar-menu{
    display: none;
}
/* sidenavbar */
.side-navbar{
    background-color: #1D232C;
    width: 40%;
    height: 100vb;
    border: #1D232C;
    position: fixed;
    top: 0;
    padding-top: 50px;
    display: none;
    z-index: 10;
}
.side-navbar-link a{
    color: white;
    text-decoration: none;
}
.side-navbar-link a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.side-navbar-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 30px;
}
/* newsletter */
.newsletter{
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* footer */
footer{
    background-color: #1D232C;
    color: white;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-icon{
    display: flex;
    gap: 30px;
    justify-content: left;
    margin-top: 20px;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.form{
    background-color: #1D232C;
    color: white;
    padding: 50px;
    text-align: left;
    margin: 100px;
}

/* responsive */
@media screen and (max-width:800px){
    .navbar-menu{
        display: inline-block;
        cursor: pointer;
    }
    .navbar-links{
        display: none;
    }
    body{
        font-size: 10px;
    }
    
}
